pipeline/email alerts.json
{
	"name": "email alerts",
	"properties": {
		"activities": [
			{
				"name": "Execution Start Alert",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/8ee4baea0e1c4ba0806318e867bd77a3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U8te53Zj3fwzz9gTXn8hNCs-FUUtxfD3dJbNOjkbQL0",
					"method": "POST",
					"body": {
						"value": "@concat('\n{\n\"to\":\"',variables('to'),'\",\n\"subject\":\"pipeline execution started\",\n\"body\":\"copy activity execution started\"\n}'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execution Start Alert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Succes Web Alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/8ee4baea0e1c4ba0806318e867bd77a3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U8te53Zj3fwzz9gTXn8hNCs-FUUtxfD3dJbNOjkbQL0",
					"method": "POST",
					"body": {
						"value": "@concat('\n{\n\"to\":\"',variables('to'),'\",\n\"subject\":\"pipeline execution got completed\",\n\"body\":\"copy activity execution is success\"\n}'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failed Web Alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/8ee4baea0e1c4ba0806318e867bd77a3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U8te53Zj3fwzz9gTXn8hNCs-FUUtxfD3dJbNOjkbQL0",
					"method": "POST",
					"body": {
						"value": "@concat('\n{\n\"to\":\"',variables('to'),'\",\n\"subject\":\"pipeline execution Failed\",\n\"body\":\"copy activity execution failed\"\n}'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"to": {
				"type": "String",
				"defaultValue": "lokeshgnani@gmail.com"
			}
		},
		"folder": {
			"name": "Scenarios"
		},
		"annotations": []
	}
}