pipeline/SP_Emailalerts.json
{
	"name": "SP_Emailalerts",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Alerts].[usp_emailalerts]",
						"storedProcedureParameters": {
							"ADFname": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Errormessage": {
								"type": "String",
								"value": null
							},
							"Pipelinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": {
									"value": "@variables('start_status')",
									"type": "Expression"
								}
							},
							"TriggerDate": {
								"type": "DateTime",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/8ee4baea0e1c4ba0806318e867bd77a3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U8te53Zj3fwzz9gTXn8hNCs-FUUtxfD3dJbNOjkbQL0",
					"method": "POST",
					"body": {
						"value": "@concat(\n         '{\n    \"to\":\"',activity('Lookup1').output.value[0].Receipients,'\",\n    \"subject\":\"',activity('Lookup1').output.value[0].subject,'\",\n    \"body\":\"',activity('Lookup1').output.value[0].body,'\"\n }'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Lookup1_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Fail1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Alerts].[usp_emailalerts]",
						"storedProcedureParameters": {
							"ADFname": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Errormessage": {
								"type": "String",
								"value": null
							},
							"Pipelinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": {
									"value": "@variables('Succes_Status')",
									"type": "Expression"
								}
							},
							"TriggerDate": {
								"type": "DateTime",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/8ee4baea0e1c4ba0806318e867bd77a3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U8te53Zj3fwzz9gTXn8hNCs-FUUtxfD3dJbNOjkbQL0",
					"method": "POST",
					"body": {
						"value": "@concat(\n         '{\n    \"to\":\"',activity('Lookup1_copy1').output.value[0].Receipients,'\",\n    \"subject\":\"',activity('Lookup1_copy1').output.value[0].subject,'\",\n    \"body\":\"',activity('Lookup1_copy1').output.value[0].body,'\"\n }'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fail1",
				"description": "Failed intentionally",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Failed",
					"errorCode": "Failed code-098678"
				}
			},
			{
				"name": "Lookup1_copy1_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Fail1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Alerts].[usp_emailalerts]",
						"storedProcedureParameters": {
							"ADFname": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Errormessage": {
								"type": "String",
								"value": {
									"value": "@activity('Fail1').error.message",
									"type": "Expression"
								}
							},
							"Pipelinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": {
									"value": "@variables('Fail_status')",
									"type": "Expression"
								}
							},
							"TriggerDate": {
								"type": "DateTime",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1_copy1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/8ee4baea0e1c4ba0806318e867bd77a3/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U8te53Zj3fwzz9gTXn8hNCs-FUUtxfD3dJbNOjkbQL0",
					"method": "POST",
					"body": {
						"value": "@concat(\n         '{\n    \"to\":\"',activity('Lookup1_copy1_copy1').output.value[0].Receipients,'\",\n    \"subject\":\"',activity('Lookup1_copy1_copy1').output.value[0].subject,'\",\n    \"body\":\"',activity('Lookup1_copy1_copy1').output.value[0].body,'\"\n }'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"start_status": {
				"type": "String",
				"defaultValue": "START"
			},
			"Succes_Status": {
				"type": "String",
				"defaultValue": "SUCCESS"
			},
			"Fail_status": {
				"type": "String",
				"defaultValue": "FAILED"
			}
		},
		"folder": {
			"name": "Scenarios"
		},
		"annotations": []
	}
}